body {
    color: hotpink;
    background-image: url(../images/fantasy_island.jpg);
    background: asset-url("../images/fantasy_island.jpg", image)
}

.jumbotron {
    background: transparent;
}

.form-row {
    margin: 20px;
    padding: 10px;
}

select {
    color: darkslategray;
}

.links {
    margin: 10px 0 0 0;
} 