body {
    color: darkslategray;
}

.form-row {
    margin: 20px;
    padding: 10px;
}

select {
    color: darkslategray;
}

.btn-lg {
    border-radius: 0;
    padding: 15px;
}

.links {
    margin: 10px 0 0 0;
}

.circular--square {
    height: 200px;
    width: 200px;
    position: relative;
    left: 30%;
    border-top-left-radius: 50% 50%;
    border-top-right-radius: 50% 50%;
    border-bottom-right-radius: 50% 50%;
    border-bottom-left-radius: 50% 50%;
}